<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9ad05a77c3.js" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="./js/common.js"></script>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/ootd.css" />
    <title>게시글 작성</title>

    
</head>

<body>
    <div id="body-wrapper">
        <div id="body-content">
            <%- include('./header.ejs') %>

            <section>
                <div class="container">
                    <div class="page-content">
                        <!-- 타이틀 -->
                        <div class="MainSectionHeader">
                            <h2 class="MainSectionHeader-title">
                                <a class="MainSectionHeader-link" href="#">
                                    Today's OOTD
                                </a>
                            </h2>
                            <div class="MainSectionHeader-sub">
                                여러분의 오늘의 코디를 등록해보세요.
                            </div>
                        </div>

                        <div class="MainSectionBody">
                            <div class="MainInfluencerList">
                                <ul class="MainInfluencerList-list">

                                    <!-- 리스트 1 -->
                                    <% for ( let i = 0; i < ootd.length; i++ ) { %>
                                    <li class="MainInfluencerList-item">
                                        <div class="MainInfluencerItem">
                                            <a href="#" class="MainInfluencerItem-link">
                                                <div class="InfluencerItemBadge">
                                                </div>

                                                <div class="MainInfluencerItemThumb">
                                                    <img width="336" height="433"
                                                        src="/image/ootd/<%=ootd[i].OOTD_id%>.jpg"
                                                        class="MainInfluencerItemThumb-img wp-post-image"
                                                        alt="" loading="lazy" />
                                                </div>

                                                <div class="MainInfluencerItemName">
                                                    <div class="MainInfluencerItemName-inner">
                                                        <span class="MainInfluencerItemNameOver"></span>
                                                        <span class="MainInfluencerItemNameText">
                                                            <span class="MainInfluencerItemNameText-text"><%=ootd[i].nickname%></span>
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="MainInfluencerTag">
                                                    <div class="MainInfluencerTag-title">
                                                        <%=ootd[i].nickname%>
                                                    </div>
                                                    <div class="MainInfluencerItemTagMeta">
                                                        <ul class="MainInfluencerItemTagMeta-list">
                                                            <li class="MainInfluencerItemTagMeta-item">
                                                                <span
                                                                    class="MainInfluencerItemTagMeta-text"><%=ootd[i].style_tag%></span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div> <!-- .MainInfluencerTag -->
                                            </a>
                                        </div>
                                    </li>
                                    
                                    <% } %>
                                    <!-- 리스트 10 -->
                                </ul>
                            </div>
                        </div>

                        <!-- ootd 페이지 내용 작성 -->
                    </div>

                </div>
            </section>
        </div>


        <footer class="footer">
            <div class="layout con">
                <div class="menu">
                    <ul class="row">
                        <li class="cell"><a href="http://localhost:8000/">룩포웨더</a></li>
                        <li class="cell"><a href="/weather">날씨정보</a></li>
                        <li class="cell"><a href="/ootd">코디리뷰</a></li>
                        <li class="cell"><a href="/memo">커뮤니티</a></li>
                        <li class="cell"><a href="/mypage">마이페이지</a></li>
                    </ul>
                </div>
                <div class="address">
                    <div class="line_txt">조장 : 함유정</div>
                    <div>팀원 : 방장원, 서윤지, 정예현, 최상훈</div>
                </div>
                <div class="copy">
                    Copyrightⓒ 록포웨더. All Rights Reserved.
                </div>
                <div class="site-box row">
                    <div class="relate-site cell">
                        <div class="box-1">
                            패밀리사이트
                        </div>
                        <ul>
                            <a href="https://github.com/team5-LookForWeather" target="_blank" onclick="return false">
                                <li>룩포웨더 깃헙 사이트</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script defer>
        //파일첨부
        jQuery('#file_attach').change(function () {
            var ext = $(this).val().split(".").pop().toLowerCase();

            //console.log(this);

            var fileSize = this.files[0].size;
            var maxSize = 1024 * 1024 * 10;
            if (fileSize > maxSize) {
                alert('파일을 10MB 이하로 첨부해주세요.');
                jQuery('input[name=file_name]').val('');
                return false;
            }

            var fileValue = jQuery(this).val().split("\\");
            var fileName = fileValue[fileValue.length - 1]; // 파일명

            jQuery(this).siblings('.upload-name').val(fileName);
            // jQuery('.upload-name').val(jQuery(this).val());
        });

        
        //파일삭제
        jQuery('#file_remove').click(function () {
            jQuery(this).siblings('.upload-hidden').val('');
            jQuery(this).siblings('input[name=file_name]').val('');

            // jQuery('input[name=file_name]').val('');
            // alert('첨부한 파일이 삭제되었습니다.');
        });
    </script>
</body>

</html>